:root {
    --link-color: #007bff;
    --link-hover-color: #0056b3;
    --navbar-background-color: #f8f9fa;
    --content-background-color: #ffffff;
    --chat-container-background-color: #ffffff;
    --chat-messages-background-color: #ffffff;
    --header-background-color: #007bff;
    --header-text-color: #ffffff;
    --button-background-color: #007bff;
    --button-text-color: #ffffff;
    --input-background-color: #ffffff;
    --input-text-color: #000000;
    --text-color: #000000; /* Default text color for light mode */
}

body.dark-mode {
    --link-color: #61dafb;
    --link-hover-color: #21a1f1;
    --navbar-background-color: #282c34;
    --content-background-color: #282c34;
    --chat-container-background-color: #20232a;
    --chat-messages-background-color: #282c34;
    --header-background-color: #20232a;
    --header-text-color: #61dafb;
    --button-background-color: #007bff;
    --button-text-color: #282c34;
    --input-background-color: #282c34;
    --input-text-color: #ffffff;
    --text-color: #ffffff; /* Default text color for dark mode */
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}